<! DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Us</title>
    </head>
    <body>
          <p>{{> header }}</p> 
          <p>{{> footer}}</p>
    </body>
</html>