<! DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <p>{{> header}}</p>
        <p>Welcome {{name}}</p>
        <p>{{> footer}}</p>   
    
               
    </body>
</html>